@model WebApplication21.Models.Ogrenci

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ogrenci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyadi" class="control-label"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sinif" class="control-label"></label>
                <input asp-for="sinif" class="form-control" />
                <span asp-validation-for="sinif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cinsiyet" class="control-label"></label>
                <div>
                    @Html.RadioButton("cinsiyet", "Erkek") Erkek
                    @Html.RadioButton("cinsiyet", "Kadın") Kadın
                </div>
                <span asp-validation-for="cinsiyet" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fotograf" class="control-label"></label>
                <input asp-for="Fotograf" class="form-control" />
                <span asp-validation-for="Fotograf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
