@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Mersin Üniversitesi Öğrenci Bilgi Otomasyonu</h1>
    <p>Tüm işlemlerinizi menüden kolaylıkla yapabilirsiniz.</a>.</p>
    <img src="~/lib/images.png" alt="Öğrenci Bilgi Otomasyonu Görseli" style="width:300px;height:auto;">
</div>
